target/classes/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
	xmlns:american-flights-api="http://www.mulesoft.org/schema/mule/american-flights-api" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/american-flights-api http://www.mulesoft.org/schema/mule/american-flights-api/current/mule-american-flights-api.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd">
	<sub-flow name="setCode" doc:id="9700dbde-18fd-48ca-9cd7-763ca079ea51" >
		<set-variable value="#[message.attributes.queryParams.code]" doc:name="code" doc:id="82200fbe-d74e-44c9-bd83-93c9cb05131d" variableName="code"/>
	</sub-flow>
	<flow name="getFlights" doc:id="1c93b403-0ee0-4ada-b328-90938a1f5d2e" >
		<set-variable value="#[message.attributes.queryParams.airline]" doc:name="airline" doc:id="e2cedea8-30a8-4ccc-a46b-aa9d16550d22" variableName="airline"/>
		<flow-ref doc:name="setCode" doc:id="0086defe-4314-4a76-92c8-9a5dcb8b012e" name="setCode"/>
		<validation:is-true doc:name="Is valid destination" doc:id="de03cb40-0ff5-4836-bf42-5d8c56183636" message="#[['SFO','LAX','CLE','PDX','PDF'] contains vars.code]">
			<error-mapping sourceType="VALIDATION:INVALID_BOOLEAN" targetType="APP:INVALID_DESTINATION" />
		</validation:is-true>
		<choice doc:name="Choice" doc:id="38bd3ecf-f933-4d6b-ac10-bf773d60dcd0" >
			<when expression='#[vars.airline=="american"]'>
				<flow-ref doc:name="getAmericanFlights" doc:id="b9d881af-1e01-4e9b-8430-9f59b9563dd8" name="getAmericanFlights"/>
			</when>
			<when expression='vars.airline=="united"'>
				<flow-ref doc:name="getUnitedFlights" doc:id="e4eecbe9-21bd-48cf-b3c9-fcfe6765e421" name="getUnitedFlights"/>
			</when>
			<when expression='vars.airline=="delta"'>
				<flow-ref doc:name="getDeltaFlights" doc:id="16eb1b74-4fac-49ef-87f7-101a3e62c914" name="getDeltaFlights"/>
			</when>
			<otherwise >
				<flow-ref doc:name="getAllAirlineFlights" doc:id="eeaf9a8a-bf6e-409f-89ad-d8cf97e703e4" name="getAllAirlineFlights"/>
			</otherwise>
		</choice>
		<ee:transform doc:name="[Flight] to JSON" doc:id="9f71e22d-621d-4d91-8a55-7d1607de6a47">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
					</ee:message>
				</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="54d3f22f-cdf4-4abc-af38-4758a47ff2e1" />
	</flow>
	<flow name="getAllAirlineFlights" doc:id="30338551-6e8e-43ea-b347-ed0b8356b2af" >
		<scatter-gather doc:name="" doc:id="afed4197-bc44-41b6-b9f1-01f7daa68f2b" >
			<route >
				<try doc:name="Try" doc:id="0a91ce06-8c53-4ffd-b667-cec85e4db1b7" >
					<flow-ref doc:name="getAmericanFlights" doc:id="08948fb3-3103-425b-aa57-5408461910e0" name="getAmericanFlights" />
					<error-handler >
						<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="377d2ef2-9c8e-43fb-8ede-d9a5dafa008e" type="ANY">
							<ee:transform doc:name="[]" doc:id="3aa9edc5-39f4-44d6-a26a-d746f80b3d0b" >
								<ee:message >
									<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
[]]]></ee:set-payload>
								</ee:message>
							</ee:transform>
						</on-error-continue>
					</error-handler>
				</try>
			</route>
			<route >
				<try doc:name="Try" doc:id="bd9f0a15-3c55-44d0-bd81-c703302819f2" >
					<flow-ref doc:name="getUnitedFlights" doc:id="8edc5ea9-cb9e-442e-ba1c-000729983a23" name="getUnitedFlights" />
					<error-handler >
						<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="356c67ed-11f0-41fe-ab75-560de07c4255" type="ANY">
							<ee:transform doc:name="[]" doc:id="e6188baf-ca7e-4d98-b303-8fb50286eb1a" >
								<ee:message >
									<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
[]]]></ee:set-payload>
								</ee:message>
							</ee:transform>
						</on-error-continue>
					</error-handler>
				</try>
			</route>
			<route >
				<try doc:name="Try" doc:id="7235055c-bb47-4c0f-8293-d8d976f06bda" >
					<flow-ref doc:name="getDeltaFlights" doc:id="ebadac69-9190-47a7-a1dc-8b8b5cd6f631" name="getDeltaFlights" />
					<error-handler >
						<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="ce8d9eae-aeef-4fe7-823f-87e0345ea3cb" type="ANY">
							<ee:transform doc:name="[]" doc:id="a4bdf93e-7032-4b44-9d5e-956eacae18f6" >
								<ee:message >
									<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
[]]]></ee:set-payload>
								</ee:message>
							</ee:transform>
						</on-error-continue>
					</error-handler>
				</try>
			</route>
		</scatter-gather>
		<ee:transform doc:name="flatten to [Flight]" doc:id="af40a3c5-3f3a-4641-807b-182f62e4ba58" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
flatten(payload.payload)]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="c3e63ce7-5082-454c-b8a8-25e4395d9eb2" />
	</flow>
	<flow name="getAmericanFlights" doc:id="c8c04d59-bf2c-4216-9a08-f46e15385318" >
		<american-flights-api:get-flights doc:name="Get flights" doc:id="ace27f49-6aa1-4da3-9045-0e1a39dcb4ee" config-ref="American_Flights_API_Config" client-id="${american.client_id}" client-secret="${american.client_secret}" destination="#[vars.code]"/>
		<ee:transform doc:name="JSON to [Flight]" doc:id="5cc4303f-8883-48b5-aa7f-bdc17c0c6517" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
	airlineName: "American"
} as Object {
	class : "com.mulesoft.training.Flight"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="5c404679-94da-4af0-a9b4-7e5f3b353ad0" />
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="186d3c10-8ca6-45e2-b921-d5a298d57cc7" type="AMERICAN-FLIGHTS-API:BAD_REQUEST">
				<ee:transform doc:name="No flights" doc:id="4f64a9d7-4e02-4aeb-aba3-e3c8fce9649e">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	message: "No flights to " ++ vars.code as String
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<set-variable value="200" doc:name="httpStatus" doc:id="921635e7-8eb4-48b9-b256-9d12a4fedf68" variableName="httpStatus" />
			</on-error-continue>
		</error-handler>
	
</flow>
	<flow name="getUnitedFlights" doc:id="f89731e6-ea03-4d69-a66c-df99584e7c08" >
		<http:request method="GET" doc:name="Get flights" doc:id="6135087b-4436-4323-bc54-825ba0ff6e90" config-ref="HTTP_Request_config_training" path="/united/flights/{dest}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"dest" : vars.code
}]]]></http:uri-params>
		</http:request>
		<ee:transform doc:name="JSON to [Flight]" doc:id="a02da049-5bb1-4d8b-9f9c-c8f845d71ee1" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload.flights map ( flight , indexOfFlight ) -> {
	airlineName: flight.airlineName,
	availableSeats: flight.emptySeats,
	departureDate: flight.departureDate,
	destination: flight.destination,
	flightCode: flight.code,
	origination: flight.origin,
	planeType: flight.planeType,
	price: flight.price
} as Object {
	class : "com.mulesoft.training.Flight"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="5dbe1193-dd69-49d2-9c16-90568014263d" />
	
</flow>
	<flow name="getDeltaFlights" doc:id="a6a025c2-8857-45e8-a21a-ecc73c2c2bd0" >
		<ee:transform doc:name="Pass code" doc:id="e37914e7-3dd7-4b1c-9b7d-b8f5379484bf" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://soap.training.mulesoft.com/
---
{
	ns0#findFlight: {
		destination: vars.code
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume operation="findFlight" doc:name="Get flights" doc:id="7501a8ee-0704-46af-88a4-97fbdbb1ee3b" config-ref="Delta_Web_Service_Consumer_Config"/>
		<ee:transform doc:name="SOAP to [Flight]" doc:id="276e7370-61a8-45bc-b332-104ce4429f56" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
ns ns0 http://soap.training.mulesoft.com/
---
payload.body.ns0#findFlightResponse.*return map ( return , indexOfReturn ) -> {
	airlineName: return.airlineName,
	availableSeats: return.emptySeats,
	departureDate: return.departureDate,
	destination: return.destination,
	flightCode: return.code,
	origination: return.origin,
	planeType: return.planeType,
	price: return.price,
} as Object {
	class : "com.mulesoft.training.Flight"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="postFlight" doc:id="cb838f7e-778f-4299-b5ff-04e5a33d10ab" >
		<ee:transform doc:name="Transform Message" doc:id="1f5f3b43-8f30-4a24-9029-61b292356f23" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
data: {
	hub: "MUA",
	code: payload.toAirportCode,
	airline: payload.airline
}]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable resource="json_flight_playground.dwl" variableName="DWoutput" />
			</ee:variables>
		</ee:transform>
	</flow>
	<flow name="postMultipleFlights" doc:id="ae7157cc-5e2c-4bdd-88d1-37496fd6f6b4" >
		<http:listener doc:name="POST /multipleflights" doc:id="8616dc22-79a4-49ac-9322-b3ae93c95769" config-ref="HTTP_Listener_config" path="/multipleflights" allowedMethods="POST"/>
		<ee:transform doc:name="Transform Message" doc:id="bde953d6-8733-4a13-b29e-61f0f2a32184" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
import dasherize from dw::core::Strings
type Currency = String {format: '###.00'}
type Flight = Object {class: "com.mulesoft.training.Flight"}


//var numSeats = (x=400) -> x
/*var numSeats = (planeType: String) ->
	if (planeType contains('737'))
		150
	else
		300
*/
/*fun getNumSeats(planeType: String) = do {
	var maxSeats =
		if (planeType contains('737'))
				150
			else
				300
	---
		maxSeats
}
*/
---
flights: (payload..*return map (object,index) ->{
			destination: object.destination,
			price: object.price as Number as Currency,
			//totalSeats: getNumSeats(object.planeType as String),
			totalSeats: lookup("getTotalSeats",{planeType: object.planeType}),
			planeType: dasherize(replace(object.planeType,/(Boing)/) with "Boeing"),
			departureDate: object.departureDate as Date {format: "yyyy/MM/dd"} as String {format: "MMM dd, yyyy"},
			availableSeats: object.emptySeats as Number	
} as Flight) distinctBy $ filter ($.availableSeats !=0) orderBy $.departureDate orderBy $.price
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="bb55837a-fc12-4fb3-aaed-b44e52f6b484" />
	</flow>
	<flow name="getTotalSeats" doc:id="f99157e2-168d-438e-835d-43c37a00b6ba" >
		<ee:transform doc:name="Transform Message" doc:id="26b356d5-a13a-4338-aede-155b8673519c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
fun getNumSeats(planeType: String) = do {
	var maxSeats =
		if (planeType contains('737'))
				150
			else
				300
	---
		maxSeats
}
---
getNumSeats(payload.planeType)]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>

</mule>
